<span><%= link_to chable.user.name, chable.user %></span>
<span><%= chable.content %></span>
<span>
    Chabled <%= time_ago_in_words(chable.created_at) %> ago.
    <% if current_user?(chable.user) %>
      <%= link_to "delete", chable, method: :delete,
                                       data: { confirm: "are you sure?" } %>
    <% end %>
</span>