<li>
<div class="comment-container">
    <span class="feed-name"><%= link_to like.chable.user.name, like.chable.user %></span>
    <span class="feed-username">@<%= like.chable.user.username %></span>
    <span><%= like.chable.content %></span>
    </div>
</li>