<h1 class="message-header">Chat</h1>

All Users:
<ul>
  <% User.all.each do |other_user| %>
   <% if other_user != current_user %>
     <li>
       <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
       <%= other_user.username %>
       <% end %>
     </li>
    <% end %>
  <% end %>
</ul>

<h1>Current chats:</h1>
<div class='chat-users'>
<% if @existing_chats_users %>
   <% @existing_chats_users.each do |other_user| %>
    <% if other_user != current_user %>
      <p>
        <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
        <%= other_user.username %>
        <% end %>
      </p>
     <% end %>
   <% end %>
  <% end %>
</div>
