<style>
  .nav {
    z-index: 3;
  }
</style>

<div class="message-header">
  <button href="" class="openbtn" onclick="showBar()"> <img src="https://img.icons8.com/ios-filled/50/000000/menu.png"> </button>
  <h1 class="title">Chat</h1>
</div>

<div class="chat-index">
  <div class="chat-all-users" id="chatSidebar">
    <h1>All Users:</h1>
    <input type="text" id="userSearch" onkeyup="userFunction()" placeholder="Search Username" title="Search Users">
    <ul id='allUsers'>
      <% User.all.each do |other_user| %>
        <% if other_user != current_user %>
          <li>
            <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
              <%= other_user.username %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="chat-users" id="users-div">
    <h1> Current Chats: </h1>
    <% if @existing_chats_users %>
      <% @existing_chats_users.each do |other_user| %>
        <% if other_user != current_user %>
          <p>
          <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
            <%= other_user.username %>
          <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function userFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById("userSearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("allUsers");
    li = ul.getElementsByTagName("li");

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  function showBar() {
    var sidebar = document.getElementById('chatSidebar');
    var users = document.getElementById('users-div');
    if (sidebar.classList.contains('hide-bar')) {
        sidebar.classList.remove('hide-bar');
        users.classList.remove('hide-bar-users-div');
    } else {
        sidebar.classList.add('hide-bar');
        users.classList.add('hide-bar-users-div');
    }
  }
</script>
