<h1 class="message-header">Chat</h1>
<div class='chat-index'>
    <ul class='chat-all-users'>
      <h1>All Users:</h1>
      <% User.all.each do |other_user| %>
        <% if other_user != current_user %>
          <li>
            <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
              <%= other_user.username %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class='chat-users'>
       <h1>Current chats:</h1>
      <% if @existing_chats_users %>
        <% @existing_chats_users.each do |other_user| %>
        <% if other_user != current_user %>
          <p>
            <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
              <%= other_user.username %>
            <% end %>
          </p>
        <% end %>
        <% end %>
      <% end %>
    </div>
</div>
