<h1 class="message-header">Chat</h1>
<ul>
<% if @existing_chats_users %>
   <% @existing_chats_users.each do |other_user| %>
    <% if other_user != current_user %>
      <li>
        <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
        <%= other_user.username %>
        <% end %>
      </li>
     <% end %>
   <% end %>
  <% end %>
</ul>

All Users:
<ul>
  <% User.all.each do |other_user| %>
   <% if other_user != current_user %>
     <li>
       <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
       <%= other_user.username %>
       <% end %>
     </li>
    <% end %>
  <% end %>
</ul>
