<h1 class="title" style="margin-top: 10px; text-align: center;">This is a About Page for Chablie</h1>
<p style="text-align: center;">currently there's nothing in this page to see, please visit later :)</p>