body {
    background-image: url("https://convertingcolors.com/chess-E6ECF0.svg");
    height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}