html {
    scroll-behavior: smooth;
}
body {
    height: 100% !important;
    font-family: 'Cabin', cursive !important;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: salmon;
    border-radius: 100%;
    margin-left: 10px;
}

.chat-index {
    display: flex;
    ul.chat-all-users {
        width: 250px;
    }
}

.message-img {
    img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.message-content {
    position: relative;
    margin: 2px;
    bottom: 20px;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.messages {
    margin-top: 25px;
    margin-bottom: 30px;
}

.message-header {
    font-size: 25px;
    justify-content: center !important;
    background-color: salmon !important;
    padding: .45em 1em !important;
    box-shadow: 0px 1px 10px #999;
    transition: 0.25;
}

.message-text {
    width: 100%;
    bottom: 0;
    position: fixed;
    resize: none;
    height: 60px;
    padding: 5px;
    border: none;
    border-top: 1px solid salmon;
    background-color: whitesmoke;
    font-size: 15px;
    &:focus {
        box-shadow: none;
        outline: none;
        border-top: 2px solid salmon;
        transition-duration: 500ms;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: transparent !important;
}

.navbar-link:not(.is-arrowless) {
    padding-right: 10px !important;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
    background-color: #fafafa;
    color: #00d1b2 !important;
}

.navbar {
    height: 50px !important;
}

.container .home-create-chable .chable-creator .chable-field {
    width: 450px !important;
}

.search-page .user-images .wrapper .chables-feed {
    margin-left: auto !important; 
    margin-right: auto !important;
}

.userguide {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 350px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    h1 {
        a {
            color: salmon;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    span {
        width: 100px;
        a {
            color: salmon;
            font-weight: bold;
            font-size: 18px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

    .header-img {
        height: 80px !important;
        position: relative;
        bottom: 14px;
        margin-left: 20px;
    }

.alert.alert-notice {
    display: flex !important;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: white;
}


div#error_explanation {
    color: red;
    ul {
        list-style: disc !important;
        margin-left: 20px;
        font-size: 14px;
        margin-top: -30px;
    }
}

.show-area {
    position: relative;
    margin-top: 60px;
    height: 40em;
}

#image-browse {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
#cover-image-browse {
    height: 0;
    overflow: hidden;
    width: 0;
} 
  
  .label {
    border: none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block !important;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 10px;
    outline: none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    &.btn-2 {
      background-color: #00c4a7;
      border-radius: 50px;
      overflow: hidden;   
      &::before {
        color: #fff;
        content: "\f093";
        font-family: "FontAwesome";
        font-size: 95%;
        height: 100%;
        right: 75%;
        line-height: 3.3;
        position: absolute;
        top: -9px;
        transition: all 0.3s;
      }
      &:hover {
        background-color: darken(#00c4a7, 10%);          
      }
    }
  } 

  .edit-label {
      left: 32%;
      width: 38%;
      padding-left: 15%;
  }

  .imagu {
      margin-left: 15% !important;
      position: relative;
      top: 3.5%;
  }

  .new-upload {
      width: 100%;
      margin-left: 5px !important;
      margin-top: -8px !important;
      padding-left: 45%;
      &.btn-2 {
        &::before {
             right: 58%;
        }
    }
  }

  .new-h1 {
      margin-left: 10px !important;
  }

  .sub-user {
      width: 300px;
      height: 300px;
      background-color: white;
      margin-top: 15px;
      .img {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 100%;
        bottom: 15%;
        left: 5%;
        background-color: #00c4a7;
      }
      .sub-user-cover {
          width: 300px;
          height: 120px;
      }
      .sub-user-name {
          color: black;
          font-size: 22px;
          display: block;
          margin-left: 22px;
      }
      .sub-user-username {
        color: rgb(119, 119, 119);
        display: block;
        margin-left: 22px;
        a {
            color: rgb(119, 119, 119);
            width: 250px;
        }
      }
      .sub-user-bio {
          position: relative;
          left: 7%;
          top: 1%;
          width: 250px;
      }
      .sub-user-infodiv {
          bottom: 15%;
          position: relative;
      }
  }

  .like-button::before {
      content: "\f004";
      font-family: "FontAwesome";
      font-size: 95%;
      position: absolute;
      transition: all 0.3s;
      color: gray;
  }

  .like-button {
    left: 30%;
    bottom: 4%;
  }

  .unlike-button {
      left: 10%;
      bottom: 4%;   
  }

  .like-count {
     position: relative;
     width: 50px;
     margin-right: 10px;
  }

  .comment-count {
      margin-left: 10px;
      margin-bottom: 3px;
  }

  .like-area {
      p {
          left: 25px;
      }
  }

  .unlike-button::before {
    content: "\f004";
    font-family: "FontAwesome";
    font-size: 95%;
    position: absolute;
    transition: all 0.3s;
    color: palevioletred;
}

.social-area {
    margin-left: 60px;
    display: flex;
    margin-bottom: 20px;
}

  .comment-popup {
    &::before {
      content: "\f075";
      font-family: "FontAwesome";
      color: gray; 
      margin-left: 20px;
  }
}
  
  .comment-text {
      resize: none;
      width: 500px;
      height: 80px;
      border-radius: 5px;
      padding: 10px;
      padding-left: 10px;
      background-color: whitesmoke;
      border: none;
      &:focus {
          outline: none !important;
          border: 2px solid salmon;
          transition-duration: 500ms;
      }
  }

  .comment-btn {
      color: white;
      background-color: salmon;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      position: relative;
      left: 82%;
}

.comment {
    width: 450px;
    display: flex;
}

#new_comment {
    margin-left: 45px;
    width: 450px;
}

.sub-comment-body {
    margin-left: 15px;
}
  
  .comment-container {  
    margin-left: 40px;
    .comment-photo {
        width: 40px !important;
        height: 40px !important;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .feed-name {
        font-size: 14px;
    }
    .feed-username {
        font-size: 14px;
    }
    .feed-content {
        margin-top: -5px;
        a {
        color: #00917c !important;
        &:hover {
            text-decoration: underline !important;
        }
        }
    }
  }

  .search-field {
      box-sizing: border-box;
      border-radius: 20px;
      border: 1px solid #e6ecf0;
      margin-top: 10px;
      padding: 5px;
      padding-left: 10px;
      color: black;
      background-color: #f5f8fa;
      transition-duration: 500ms;
      width: 221px;
      height: 30px;
      padding-right: 37px;
  }

  .search-field:focus {
      border: 2px solid salmon;  
      color: #14171a;
      transition-duration: 500ms;
  }

  .search-icon {
      position: relative;
      color: gray;
      right: 15%;
      .fa-search {
         width: 14px !important;
      }
  }

  .header-avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.user-area {
    width: 70%;
}

.user-area > * {
    float: left;  
    width: 30.7%;
    margin: 5px;
  }

  .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      .title {
          text-align: center;
      }
  }
