body {
    height: 100% !important;
    font-family: 'Cabin', cursive !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: transparent !important;
}

.navbar-link:not(.is-arrowless) {
    padding-right: 10px !important;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
    background-color: #fafafa;
    color: #00d1b2 !important;
}

.navbar {
    height: 50px !important;
}

.container .home-create-chable .chable-creator .chable-field {
    width: 450px !important;
}

.trends {
    background-color: white;
    width: 300px;
    height: 300px;
    margin-top: -65px;
    padding: 10px;
    .trendheading {
        font-size: 18px;
        font-weight: 600;
    }
    .trendname {
        margin-top: 10px;
        color: #00917c;
        font-weight: bold;
        a {
            color: #00917c;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.userguide {
    background-color: white;
    width: 300px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    h1 {
        a {
            color: #00917c;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    span {
        width: 100px;
        a {
            color: #00917c;
            font-weight: bold;
            font-size: 18px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.whotofollow {
    background-color: white;
    width: 300px;
    margin-top: 10px;
    height: auto;
    padding: 10px;
    height: 50vh;
    .whotocontainer {
        display:flex;
        flex-direction: column;
    }
    .whotoheading {
        font-size: 18px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    img {
        border-radius: 50%;
        width: 50px;
        overflow: hidden;
        height: 50px;
    }
    .whotousername {
        color: gray;
    }
    .whotoname {
        color: black;
        margin-left: 10px;
        &:hover {
            color: #00c4a7;;
            text-decoration: underline;
        }
    }
}

    .header-img {
        height: 80px !important;
        position: relative;
        bottom: 14px;
        margin-left: 20px;
    }

.alert.alert-notice {
    display: flex !important;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: white;
}

.Main-page-content {
    display: flex;
    width: 100%;
    height: 100vh;
    .side-content {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-color: #00d1b2;
        .second-column {
            margin-left: 15vh;
            display: flex;
            .title {
                margin-top: 40px; 
                font-size: 22px;
                margin-left: 5px;
                text-align: left;
                font-family: 'Cabin', cursive;
                color: white;
            }

            .fa-globe {
                color: white;
                height: 24px;
                width: 24px;
                margin-top: 42px;
            }
        }

        .third-column {
            display: flex;
            margin-left: 18vh;
            margin-right: auto;
            -webkit-margin-before: 40px;
            .title {
                margin-top: 40px; 
                font-size: 22px;
                margin-left: 5px;
                font-family: 'Cabin', cursive;
                color: white;
            }
            
            .fa-comment {
                height: 24px;
                width: 24px;
                color: white;
                margin-top: 42px;
                margin-left: -25px;
            }
        }

        .first-column {
            display: flex;
            margin-left: 16vh;
            margin-right: auto;
            .title {
                font-size: 22px;
                font-family: 'Cabin', cursive;
                color: white;
            }
            .fa-map-marker-alt {
                height: 25px;
                width: 20px;
                color: white;
                margin-right: 5px;
                margin-left: -5px;
            }
        }
    }
    .other-side-content {
        flex-direction: column;
        display: flex;
        width: 50%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 200px;
    }
    .front-signup {
        margin: 10px;
        width: 300px;
        border-radius: 20px;
        font-family: 'Cabin', cursive;
    }

    .front-login {
        margin: 10px;
        width: 300px;
        border-radius: 20px;
        font-family: 'Cabin', cursive;
    }

    .front-heading {
        margin-left: 10px;
        font-family: 'Cabin', cursive;
    }
}

div#error_explanation {
    color: red;
    .alert.alert-danger {
        color: red;
        font-size: 20px !important;
    }
    ul {
        list-style: disc !important;
        margin-left: 20px;
    }
}

.show-area {
    position: relative;
    margin-top: 60px;
    height: 40em;
}

#image-browse {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
#cover-image-browse {
    height: 0;
    overflow: hidden;
    width: 0;
} 
  
  .label {
    border: none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block !important;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 10px;
    outline: none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    &.btn-2 {
      background-color: #00c4a7;
      border-radius: 50px;
      overflow: hidden;   
      &::before {
        color: #fff;
        content: "\f093";
        font-family: "FontAwesome";
        font-size: 95%;
        height: 100%;
        right: 75%;
        line-height: 3.3;
        position: absolute;
        top: -9px;
        transition: all 0.3s;
      }
      &:hover {
        background-color: darken(#00c4a7, 10%);          
      }
    }
  } 

  .edit-label {
      left: 32%;
      width: 38%;
      padding-left: 15%;
  }

  .imagu {
      margin-left: 15% !important;
      position: relative;
      top: 3.5%;
  }

  .new-upload {
      width: 100%;
      margin-left: 5px !important;
      margin-top: -8px !important;
      padding-left: 45%;
      &.btn-2 {
        &::before {
             right: 58%;
        }
    }
  }

  .new-h1 {
      margin-left: 10px !important;
  }

  .sub-user {
      width: 300px;
      height: 300px;
      background-color: white;
      margin-top: 15px;
          img {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 100%;
            bottom: 15%;
            left: 5%;
          }
      .sub-user-cover {
          width: 300px;
          height: 120px;
      }
      .sub-user-name {
          color: black;
          font-size: 22px;
          position: relative;
          right: 22%;
          bottom: 7%;
      }
      .sub-user-username {
        color: rgb(119, 119, 119);
        position: relative;
        right: 45.5%;
        top: 1%;
        width: 250px;
        a {
            color: rgb(119, 119, 119);
            width: 250px;
        }
      }
      .sub-user-bio {
          position: relative;
          left: 7%;
          top: 1%;
          width: 250px;
      }
  }

  .like-button::before {
      content: "\f004";
      font-family: "FontAwesome";
      font-size: 95%;
      position: absolute;
      transition: all 0.3s;
      color: gray;
  }

  .like-button {
    left: 30%;
    bottom: 4%;
  }

  .unlike-button {
      left: 10%;
      bottom: 4%;   
  }

  .like-count {
     position: relative;
     width: 50px;
     margin-right: 10px;
  }

  .comment-count {
      margin-left: 10px;
  }

  .rechable-count {
    margin-left: 10px;
}

  .like-area {
      p {
          left: 25px;
      }
  }

  .unlike-button::before {
    content: "\f004";
    font-family: "FontAwesome";
    font-size: 95%;
    position: absolute;
    transition: all 0.3s;
    color: palevioletred;
}

.social-area {
    margin-left: 60px;
    display: flex;
    margin-bottom: 20px;
}

  .comment-popup {
    &::before {
      content: "\f075";
      font-family: "FontAwesome";
      color: gray; 
      margin-left: 20px;
  }
}

.rechable-button {
    &::before {
      content: "\f079";
      font-family: "FontAwesome";
      color: gray; 
      margin-left: 50px;
  }
}
  
  .comment-text {
      resize: none;
      width: 93%;
      height: 35px;
      border-radius: 5px;
      border: 1px solid #31c2ac;
      padding: 4px;
      padding-left: 10px;
  }

  .comment-btn {
      color: white;
      background-color: #00d1b2;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      font-weight: bold;
      position: relative;
      bottom: 50%;
      left: 95%;
}

.comment {
    width: 450px;
    display: flex;
}

#new_comment {
    margin-left: 55px;
    width: 450px;
}

.sub-comment-body {
    margin-left: 15px;
}
  
  .comment-container {  
    margin-left: 40px;
    .comment-photo {
        width: 40px !important;
        height: 40px !important;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .feed-name {
        font-size: 14px;
    }
    .feed-username {
        font-size: 14px;
    }
    .feed-content {
        margin-top: -5px;
        a {
        color: #00917c !important;
        &:hover {
            text-decoration: underline !important;
        }
        }
    }
  }

  .search-field {
      box-sizing: border-box;
      border-radius: 20px;
      border: 1px solid #e6ecf0;
      margin-top: 10px;
      padding: 5px;
      padding-left: 10px;
      color: black;
      background-color: #f5f8fa;
      transition-duration: 500ms;
      width: 221px;
      height: 30px;
      padding-right: 37px;
  }

  .search-field:focus {
      border: 2px solid #00c4a7;  
      color: #14171a;
      transition-duration: 500ms;
  }

  .search-icon {
      position: relative;
      color: gray;
      right: 15%;
      .fa-search {
         width: 14px !important;
      }
  }

  .header-avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.user-area {
    width: 70%;
}

.user-area > * {
    float: left;  
    width: 30.7%;
    margin: 5px;
  }
  