body {
  height: 100% !important;
  font-family: 'Cabin', cursive !important;
}

.home-side-profile {
  margin-top: 10px;
  width: 300px;
  height: 220px;
  margin-bottom: 10px;
  background-color: white;
  .home-cover-photo {
    width: 300px;
    height: 100px;
  }
  .home-profile-photo {
  //  background-color: white;
 //   border-radius: 100%;
 //   width: 70px;
 //   height: 70px;
 //   position: relative;
      bottom: 30px;
      left: 10px;
      width: 70px;
      height: 70px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      background-size: cover !important;
   // img {
     // border-radius: 100%;
  //  }
  }
  .home-name {
    position: relative;
    font-size: 22px;
    bottom: 70px;
    left: 90px;
    width: 200px;
  }
  .home-user-name {
    position: relative;
    bottom: 80px;
    left: 90px;
    width: 200px;
  }
  .home-user-info {
    display: flex;
    background-color: white;
    width: 300px;
    height: 70px;
    position: relative;
    bottom: 80px;
    .home-chables {
      width: 98px;
      height: 65px;
      margin: 2px;
      background-color: white;
      .home-chable-heading {
        margin-top: 5px;
        text-align: center;
        font-size: 18px;
      }
      .home-chable-count {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .home-following {
      width: 98px;
      margin: 2px;
      height: 65px;
      background-color: white;
      .home-following-heading {
        margin-top: 5px;
        text-align: center;
        font-size: 18px;
      }
      .home-following-count {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .home-followers {
      width: 98px;
      margin: 2px;
      height: 65px;
      background-color: white;
      .home-follower-heading {
        margin-top: 5px;
        text-align: center;
        font-size: 18px;
      }
      .home-follower-count {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.container {
  display: flex;
  .home-create-chable {
    margin: 10px;
    background-color: white;
    width: 600px;
    .chables-feed {
      padding: 10px;
      width: 550px;
      border-bottom: 1px solid #e6ecf0;
      .feed-profile-photo {
        border-radius: 100%;
        background-color: black;
      }
      .feed-content {
        position: relative;
        bottom: 50px;
        left: 60px;
        a {
          color: #00917c;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .feed-img {
        img {
          width: 500px;
          height: 500px;
          margin-left: 11%;
        }
      }
      .feed-username {
        position: relative;
        bottom: 50px;
        left: 60px;
      }
      .feed-time {
        position: relative;
        bottom: 73px;
        left: 227px;
        width: 100px;
      }
      .feed-name {
        position: relative;
        bottom: 50px;
        left: 60px;
        a {
          color: black;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .chable-creator {
      background-color: #e4fcf8;
      padding-top: 4px; 
      .chable-field {
        width: 500px;
        height: 40px;
        padding: 7px;
        margin: 5px;
        padding-left: 15px;
        resize: none;
        border-radius: 20px;
        border: 1px solid #00c4a7;
      }
      .chable-submit-field {
        margin-top: 5px;
        margin-right: 5px;
        height: 40px;
      }
    }
  }
}

.flex-chable {
  display: flex;
}

.feed-h1 {
  color: #4a4a4a;
  .feed-delete {
    color: #4a4a4a;
  }
}

.feed-delete-area {
  margin-top: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #e6ecf0;
}

// Main Signup Page Styling //

.bg {
	width: 100%;
	position: relative;
  overflow: hidden;
	min-height: 100vh;
	margin-left: -10px;
	margin-right: -20px;
	background: white;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

// Waves Styling
@keyframes wave {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(310deg);
	}
}


.wave {
  opacity: .7;
	position: absolute;
	top: 85%;
	left: 5%;
	width: 3700px;
	height: 3000px;
	background-image: linear-gradient(to left,lightsalmon, darksalmon, salmon);
	margin-left: -1200px;
	transform-origin: 50% 48%;
	border-radius: 46%;
	animation: wave 44s infinite linear;
  pointer-events: none;
}
.wave-two {
	animation: wave 68s infinite linear;
  opacity: .4;
}
.wave-three {
	animation: wave 50s infinite linear;
  opacity: .2;
}

// Tabs Styling 

.formtabs {
  margin-top: 120px;
  width: 500px;
  height: 70vh;
  position: relative;
  background-color: white !important;
  float: right;
  margin-right: 70px;
  z-index: 1 !important;
  border-radius: 10px;
  box-shadow: 1px 1px 50px 1px rgba(255, 160, 122, .5);
  .tab {
    display: flex;
    overflow: hidden;
  }
  
  .new_user {
    margin-top: 20px;
    .form-control {
      margin: 5px;
      border-bottom: 2px solid lightsalmon !important;
      border: none;
      box-shadow: none;
    }
    .signup-btn {
      width: 100%;
      background-color: salmon;
      border: none;
      box-shadow: 1px 1px 100px 3px rgba(255, 160, 122, .4);
      border-radius: 100px/100px;
      height: 40px;
      color: white;
      margin: 5px;
      margin-top: -5px;
    }
    .addtoinone {
      display: flex;
      margin-left: 7px;
      .right {
        margin-right: 5px !important;
        margin-left: 0;
      }
      .left {
        margin-left: 5px !important;
        margin-right: 0;
      }
      .form-control {
        width: 65%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid lightsalmon;
        border: none;
        box-shadow: none;
      }
    }
  }
  .login-tab {
    margin-top: 100px;
    .logininput {
      margin: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 2px solid lightsalmon !important;
      border: none;
      box-shadow: none;
    }
    .loginbtn {
      width: 100%;
      background-color: salmon;
      border: none;
      box-shadow: 1px 1px 100px 3px rgba(255, 160, 122, .4);
      border-radius: 100px/100px;
      height: 40px;
      color: white;
      margin: 5px;
      margin-top: 25px;
    } 
    .logheading {
      text-align: center;
      font-size: 30px;
    } 
  }
 
  input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid lightsalmon !important;
    transition-duration: .2s;
  }
  .input:active {
    box-shadow: none !important;
  }
 

  .tab button {
    background-color: rgb(253, 187, 179);
    color: white;
    float: right;
    width: 50%;
    height: 40px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: none;
  }

  .tab button:hover {
    background-color: rgb(253, 222, 219);
    color: black;
  }

  .tl-btn {
    border-radius: 10px 0 0 0;
  }

  .ts-btn {
    border-radius: 0 10px 0 0;
  }

  .tab button.active {
    background-color: white;
    color: black;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-left: 40px;
    width: 400px;
    height: auto;
  }

  .tabcontent {
    animation: fadeEffect 1s;
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

@media only screen and (max-width: 638px) {
  .formtabs {
    height: 85vh;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
