.search-form {
    align-items: center;
    display: flex;
    position: relative;
    width: 230px;
    .search-field {
        width: 230px !important;
        border-radius: 5px !important;
        background-color: whitesmoke;
        border: none;
        position: relative;
    }
    .search-icon {
        right: 5% !important;
        color: salmon;
        position: absolute !important;
    }
}
