.login-container {
    width: 30%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    .loginbtn {
        width: 100%;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .logininput {
        margin: 5px;
    }
    .signuplink {
        color: #00c4a7;
    }
    .signuplink:hover {
        color:rgb(30, 139, 123) !important; 
    }
}