
body {
    height: 100% !important;
    font-family: 'Cabin', cursive !important;
}

.profile-cover {
    width: 100%;
    height: 41vh;
    background-color: rgb(235, 234, 234);
    margin-top: 50px;
}

.second-nav {
    width: 100%;
    height: 8vh;
    border-top: none;
    background-color: white;
    box-shadow: 0 4px 5px rgba(0,0,0,0.12), 0 1px 0px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

  .second-nav button {
    background-color: inherit;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 450;
    transition: 0.1s;
    width: 150px !important;
  }
  .second-nav button:hover {
    border-bottom: 2px solid salmon;
    color: salmon;
    padding-bottom: 0 !important;
  }

  .second-nav button:focus {
    border-bottom: 2px solid salmon;
    color: salmon;
    padding-bottom: 0 !important;
  }

  .desp-box {
        color: whitesmoke;
        background-color: rgba(0,0,0,0.6);
        padding: 5px;
        bottom: 60px;
        position: relative;
    .title:not(:last-child) {
         margin-bottom: 0rem !important; 
    }
    .profile-name {
        margin-left: 370px;
        color: whitesmoke;
        position: static !important;
        font-weight: 500 !important;
    }
    .profile-username {
        margin-left: 370px;
        color: whitesmoke;
        position: static !important;
        margin-top: 0 !important;
        font-weight: 500 !important;
    }
  }

  .tabcontent {
    display: none;
    padding: 6px 15px;
    border-top: none;
    margin-left: 28%;
    position: absolute;
    animation: fadeEffect 1s;
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .show-chable {
    width: 40em;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 5%;
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
    .feed-content a {
        color: salmon !important;
    }
  }

  .connection {
      position: absolute !important;
      left: 85% !important;
      top: 20% !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      border-radius: 20px !important;
  }

  .tablinks {
      padding: 0 !important;
      padding-right: 20px !important;
      padding-left: 20px !important;
  }

.info-box {
    height: 100px;
    width: 100%;
    background-color: white;   
    .profile-photo {
        top: -150px;
        left: 150px;
        position: relative;
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 5%;
        margin: 0;
    }
}

.profile-name {
    font-size: 22px !important;
    position: relative !important;
    top: 100px;
    left: 220px;
    width: 600px;
}

 .profile-email {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 17px;
    position: relative;
    top: 90px;
    left: 220px;
    width: 600px;
} 
 .profile-bio {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    position: relative;
    top: 100px;
    left: 220px;
    width: 600px;
    margin-left: 0px;
    .fa-portrait {
        width: 10px;
        margin-right: 5px;
        color: salmon;
    }
} 

.profile-location {
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    top: 100px;
    left: 220px;
    width: 600px;
    font-size: 15px !important;
    margin-left: 0px;
    .fa-map-marker-alt {
        width: 20px;
        margin-right: -5px;
        color: salmon;
    }
}
.profile-username {
    top: 75px !important;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 17px;
    position: relative;
    left: 220px;
    width: 600px;
}

.signup-heading {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: -50px;
}

.new-user-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 35%;
    padding: 20px;
    border-radius: 50px;
    label {
        margin-left: 10px;
    }
    .input {
        margin: 5px;
        border-radius: 20px;
    }

    .button {
        margin: 5px;
    }

    .signup-btn {
        margin-top: 25px;
        width: 100%;
        border-radius: 20px;
    }

    .name-label {
        margin-bottom: -50px;
    }
}

.new_user {
    padding: 10px;
}

.edit-container {
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    .title {
        text-align: center;
        border-bottom: 1px solid #e6ecf0;
        margin-top: 5px;
        padding-bottom: 7px;
        font-family: 'Cabin', cursive;
    }

    .update-btn {
        margin-bottom: 15px;
    }

    .delete-button {
        border-top: 1px solid #e6ecf0;
    }

    .button {
        margin-top: 25px;
        width: 41%;
        border-radius: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .button-field {
        margin-left: 45px;
        margin-bottom: 30px;
    }

    .username-field {
        margin-left: -19px !important;
        input {
            width: 37.5% !important;
        }
    }

    .phone-field {
        margin-left: -49px !important;
        input {
            width: 35.2% !important;
            margin-left: 18px !important;
        }
    } 

    .location-field {
        margin-left: -14px !important;
        input {
            width: 37.5% !important;
            margin-left: 18px !important;
        }
    }

    .birthday-field {
        margin-left: -12px !important;
        input {
            width: 38% !important;
            margin-left: 18px !important;
        }
    }

    .password-field {
        margin-left: -23px !important;
        input {
            width: 37% !important;
            margin-left: 18px !important;
        }
    }

    .confirmation-field {
        margin-left: -48px !important;
        input {
            width: 35.5% !important;
            margin-left: 18px !important;
        }
    }

    .bio-field {
        margin-left: 30px !important;
        input {
            width: 40.5% !important;
            margin-left: 18px !important;
        }
    }

    .edit-fields {
        display: flex;
        justify-content: center;
        margin: 20px;
        input {
            width: 40%;
            margin-left: 20px;
            border-radius: 20px;
        }
        label {
            margin-top: 5px; 
        }
    }
}

.chables-feed {
    padding: 10px;
    width: 550px;
    border-bottom: 1px solid #e6ecf0;
    .feed-profile-photo {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: black;
    }
    .feed-img {
        img {
            width: 500px;
            height: 500px;
            margin-left: 11%;
        }
    }
    .feed-content {
      position: relative;
      bottom: 50px;
      left: 60px;
      a {
          color: #00917c;
          &:hover {
              text-decoration: underline;
          }
      }
    }
    .feed-username {
      position: relative;
      bottom: 50px;
      left: 60px;
    }
    .feed-time {
      position: relative;
      bottom: 73px;
      left: 227px;
      width: 100px;
    }
    .feed-name {
      position: relative;
      bottom: 50px;
      left: 60px;
      a {
        color: black;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .chable-creator {
    background-color: #e4fcf8;
    padding-top: 4px; 
    .chable-field {
      width: 500px;
      height: 40px;
      padding: 7px;
      margin: 5px;
      padding-left: 15px;
      resize: none;
      border-radius: 20px;
      border: 1px solid #00c4a7;
    }
    .chable-submit-field {
      margin-top: 5px;
      margin-right: 5px;
      height: 40px;
    }
}

.flex-chable {
    display: flex;
    width: 600px;
}

.feed-h1 {
    color: #4a4a4a;
    .feed-delete {
      color: #4a4a4a;
    }
  }
  
  .feed-delete-area {
    margin-top: 10px;
    border-bottom: 1px solid #e6ecf0;
  }

  .show-cover-picture img {
    width: 100%;
    height: 41vh;
    object-fit: cover;
    position: absolute;
  }