html {
    background-color: #e6ecf0 !important;
}
body {
    height: 100% !important;
    font-family: 'Cabin', cursive !important;
}

.profile-cover {
    width: 100%;
    height: 40vh;
    background-color: rgb(235, 234, 234);
}

.second-nav {
    width: 100%;
    height: 8vh;
    border-top: 1px solid gray;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

  .second-nav button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 18px;
    transition: 0.1s;
  }
  .second-nav button:hover {
    border-bottom: 2px solid #00d1b2;
    color: #00d1b2;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-left: 30%;
    position: absolute;
  } 

  .show-chable {
    width: 36em;
    background-color: rgb(255, 252, 252);
    margin-top: 5%;
  }

  .connection {
      position: absolute !important;
      left: 85% !important;
      top: 20% !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      border-radius: 20px !important;
  }

  .tablinks {
      padding: 0 !important;
      padding-right: 16px !important;
      padding-left: 16px !important;
  }

.profile-photo {
    top: -110px;
    left: 150px;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 100%;
    margin: 0;
    img {
        border-radius: 100%;
        width: 200px;
        height: 200px;
    } 
}

.profile-name {
    font-size: 22px !important;
    position: relative !important;
    top: -100px;
    left: 160px;
}

.profile-username, .profile-email, .profile-phone_number, .profile-bio, .profile-birthday, .profile-location {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    position: relative;
    top: -120px;
    left: 160px;
} 

.signup-heading {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: -50px;
}

.new-user-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 35%;
    padding: 20px;
    border-radius: 50px;
    label {
        margin-left: 10px;
    }
    .input {
        margin: 5px;
        border-radius: 20px;
    }

    .button {
        margin: 5px;
    }

    .signup-btn {
        margin-top: 25px;
        width: 100%;
        border-radius: 20px;
    }

    .name-label {
        margin-bottom: -50px;
    }
}

.new_user {
    padding: 10px;
}

.edit-container {
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    .title {
        text-align: center;
        border-bottom: 1px solid #e6ecf0;
        margin-top: 5px;
        padding-bottom: 7px;
        font-family: 'Cabin', cursive;
    }

    .update-btn {
        margin-bottom: 15px;
    }

    .delete-button {
        border-top: 1px solid #e6ecf0;
    }

    .button {
        margin-top: 25px;
        width: 41%;
        border-radius: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .button-field {
        margin-left: 45px;
        margin-bottom: 30px;
    }

    .username-field {
        margin-left: -19px !important;
        input {
            width: 37.5% !important;
        }
    }

    .phone-field {
        margin-left: -49px !important;
        input {
            width: 35.2% !important;
            margin-left: 18px !important;
        }
    } 

    .location-field {
        margin-left: -14px !important;
        input {
            width: 37.5% !important;
            margin-left: 18px !important;
        }
    }

    .birthday-field {
        margin-left: -12px !important;
        input {
            width: 38% !important;
            margin-left: 18px !important;
        }
    }

    .password-field {
        margin-left: -23px !important;
        input {
            width: 37% !important;
            margin-left: 18px !important;
        }
    }

    .confirmation-field {
        margin-left: -48px !important;
        input {
            width: 35.5% !important;
            margin-left: 18px !important;
        }
    }

    .bio-field {
        margin-left: 30px !important;
        input {
            width: 40.5% !important;
            margin-left: 18px !important;
        }
    }

    .edit-fields {
        display: flex;
        justify-content: center;
        margin: 20px;
        input {
            width: 40%;
            margin-left: 20px;
            border-radius: 20px;
        }
        label {
            margin-top: 5px; 
        }
    }
}

.chables-feed {
    padding: 10px;
    width: 550px;
    border-bottom: 1px solid #e6ecf0;
    .feed-profile-photo {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: black;
    }
    .feed-img {
        img {
            width: 500px;
            height: 500px;
            margin-left: 11%;
        }
    }
    .feed-content {
      position: relative;
      bottom: 75px;
      left: 60px;
    }
    .feed-username {
      position: relative;
      bottom: 50px;
      left: 60px;
    }
    .feed-time {
      position: relative;
      bottom: 73px;
      left: 227px;
      width: 100px;
    }
    .feed-name {
      position: relative;
      bottom: 50px;
      left: 60px;
      a {
        color: black;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .chable-creator {
    background-color: #e4fcf8;
    padding-top: 4px; 
    .chable-field {
      width: 500px;
      height: 40px;
      padding: 7px;
      margin: 5px;
      padding-left: 15px;
      resize: none;
      border-radius: 20px;
      border: 1px solid #00c4a7;
    }
    .chable-submit-field {
      margin-top: 5px;
      margin-right: 5px;
      height: 40px;
    }
}

.flex-chable {
display: flex;
}

.feed-h1 {
    color: #4a4a4a;
    .feed-delete {
      color: #4a4a4a;
    }
  }
  
  .feed-delete-area {
    margin-top: 10px;
    border-bottom: 1px solid #e6ecf0;
  }

  .show-cover-picture img {
    width: 100%;
    position: absolute;
    clip: rect(0px,1500px,310px,0px);
  }
  